@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .golden-shadow {
    @apply hover:shadow-[0_0_5px_3px_rgba(212,205,155,0.2)] transition-shadow hover:transition-shadow;
  }

  .gray-shadow {
    @apply hover:shadow-[0_0_10px_3px_rgba(212,205,155,0.5)] transition-shadow hover:transition-shadow hover:grayscale-[95%] hover:opacity-25;
  }

  .gray-shadow:hover {
    box-shadow: 0 0 10px 3px rgba(212,205,155,0.5);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    --tw-grayscale: grayscale(95%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .faded-edges {
    box-shadow: 0 0 10px 2px black inset;
  }
}


html {
  padding: 0;
  margin: 0;
  background: rgb(15, 13, 14);
}

body {
  padding: 0;
  margin: 0;
  color: rgb(244, 248, 221);
  background: rgb(15, 13, 14);
  font-family: 'Bree Serif';
  font-family: 'Outfit';
} 

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
